body {
	background-color: black;
}

#board {
	position: relative; /*div umiejscowiony jest w sposób względny, więc wszystkie zagnieżdżone w nim elementy mogą być umiejscawiane względem niego (normalne położenie, wynikające z rozkładu elementów strony)*/
	width: 1024px;
	height: 863px;
	margin: auto;
	background: url("img/board.jpg") no-repeat;
}

 #messageArea {
	position: absolute; /*Reguła position: absolute rozmieszcza element względem położenia najbliższego w hierarchii nadrzędnego elementu rozmieszczonego względnie (position: relative)*/
	top: 0px;
	left: 0px;
	color: rgb(83, 175, 19);
} /*ten element jest zagnieżdżony wewnątrz elementu board, więc jego położenie może być określane względem board*/

table {
	position: absolute;
	left: 173px;
	top: 98px;
	border-spacing: 0px;
}

td {
	width: 94px;
	height: 94px
}

form {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 15px;
	background-color: rgb(83 , 175, 19);
}

form input {
	background-color: rgb(152, 207, 113);
	border-color: rgb(83,185,19);
	font-size: 1em;
}

.hit {
	background: url("img/ship.png") no-repeat center center;
}

.miss {
	background: url("img/miss.png") no-repeat center center;
}
